body, html {
    height: 100%;
    margin: 0;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg {
    max-width: 100%;
    height: auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #c5c5c5;
    line-height: 22px;
}

a {
    color: #626262;
}

.fa {
    font-size: 18px;
    top: 2px;
    position: relative;
    margin-left: 2px;
}

a img {
    width: 60px;
    position: relative;
    top: 3px;
}

.social {
    position: fixed;
    right: 40px;
    top: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.circle {
    animation: pulse 1s infinite;
}

/* Estilo del texto de carga */
#loadingText {
    position: absolute;
    bottom: 20px; /* Posicionado cerca de la parte inferior */
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Color blanco o el que prefieras */
    font-family: 'Arial', sans-serif;
}

/* Animación de los puntos en "Cargando..." */
.dots::after {
    content: '';
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #8b8d719a; /* Fondo oscuro */
}

#loadingText {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #3a2f2f; /* Blanco o el color que prefieras */
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}
