
body, html {
    height: 100%;
    margin: 0;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg {
    max-width: 100%;
    height: auto;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #c5c5c5;
    line-height: 22px;
}

a {
    color: #626262;
}

.fa {
    font-size: 18px;
    top: 2px;
    position: relative;
    margin-left: 2px;
}

a img {
    width: 60px;
    position: relative;
    top: 3px;
}

.social {
    position: fixed;
    right: 40px;
    top: 20px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.circle {
    animation: pulse 1s infinite;
}