body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003366;
    padding: 10px; /* Reducir el padding */
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}

header h1 {
    margin: 0;
    font-size: 28px; /* Reducir tamaño del título */
}

header p {
    margin-top: 5px; /* Reducir el espacio entre título y subtítulo */
    font-size: 14px; /* Reducir tamaño del subtítulo */
}


.animation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #003366;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;
}

.animation-container h2 {
    font-size: 2.5rem;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 2s forwards;
}

.animation-container p {
    font-size: 1.5rem;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 2s forwards 0.5s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
    display: none;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 260px; /* Reducir el tamaño de las tarjetas */
    margin: 15px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card h2 {
    font-size: 22px; /* Tamaño más pequeño del título */
    color: #333;
    margin: 15px 0;
}

.card p {
    font-size: 14px; /* Reducir tamaño del texto descriptivo */
    padding: 0 15px;
    color: #777;
}

.card a {
    display: inline-block;
    margin: 15px;
    padding: 8px 18px; /* Ajustar tamaño del botón */
    background-color: #00509E;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: #003366;
}

footer {
    text-align: center;
    padding: 8px; /* Reducir tamaño del footer */
    background-color: #003366;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
