<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/style.css">
    <link rel="shortcut icon" href="../Img/Icono.png" type="image/x-icon">
    <title>CineBites</title>
</head>
<body>
    <header>
        <h1>CineBites</h1>
        <p>¡Es más que un snack, es parte de la experiencia del cine!</p>
    </header>

     <!-- Contenedor para la animación -->
     <div class="animation-container" id="animation-container">
        <h2>¡Bienvenido a CineBites!</h2>
        <p>Preparando la experiencia...</p>
    </div>
    
    <!-- Contenedor principal oculto al inicio -->
    <div class="container" id="user-container" style="display: none;">
        <div class="card">
            <img src="https://i.pinimg.com/564x/8c/28/f4/8c28f45027000f49b0d7ff550acde29f.jpg" alt="Categorías">
            <h2>Administrador</h2>
            <p>Gestiona todas las categorías de productos</p>
            <a href="http://localhost:8080/CineBites/">Ingresar</a>
        </div>
    
        <div class="card">
            <img src="https://i.pinimg.com/564x/4f/e3/20/4fe32088a07b8a4d51791e4688f3e150.jpg" alt="Inventario">
            <h2>Gerente</h2>
            <p>Revisa el stock de productos y actualiza su información</p>
            <a href="http://localhost:8080/CineBites/">Ingresar</a>
        </div>
    
        <div class="card">
            <img src="https://i.pinimg.com/564x/38/a4/37/38a437b9d9fe614a97ba61463178f06d.jpg" alt="Clientes">
            <h2>Cajero</h2>
            <p>Consulta y administra la información de tus clientes</p>
            <a href="http://localhost:8080/CineBites/">Ingresar</a>
        </div>
    
    <footer>
        <p>&copy; 2024 CineBites - Todos los derechos reservados</p>
    </footer>
</body>
<script src="../Js/script.js" defer></script>
</html>