<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/roles">
    <link rel="stylesheet" href="../Css/style.css">
    <link rel="shortcut icon" href="https://cdn-icons-png.freepik.com/512/3418/3418886.png" type="image/x-icon">
    <title>CineBites - Roles</title>
</head>
<body>
    <header>
        <h1>CineBites</h1>
        <p>¡Es más que un snack, es parte de la experiencia del cine!</p>
    </header>
    
    <!-- Contenedor principal para mostrar roles -->
    <div class="container" id="user-container">
        <!-- Se mostrarán dinámicamente los roles según el usuario -->
    </div>
    
    <footer>
        <p>&copy; 2024 CineBites - Todos los derechos reservados</p>
    </footer>

    <script src="../Js/roles.js" defer></script>
</body>
</html>
